@font-face {
    font-family: 'MyCustomFont'; /* Give the font a name */
    src: url('fonts/my-custom-font.woff2') format('woff2'),  /* Include different formats */
         url('fonts/my-custom-font.woff') format('woff'),
         url('fonts/my-custom-font.ttf') format('truetype'); /* For older browsers */
    font-weight: normal; /* Define font weight */
    font-style: normal;  /* Define font style */
  }


  body {
    font-family: 'MyCustomFont', sans-serif; /* Use the custom font */
  }

  .section4{
    margin-top: 70px;
    background-image: url(../images/parallax-light.jpg);
  }

  .section4>h1{
    text-align: center;
    padding-top: 60px;
    font-weight: bold;
  }

.card-container3{
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    margin-top: 70px;
    padding: 20px;
    justify-content: space-around;
}

.card3{
    width: 10%;
    height: 200px;
    overflow: hidden;
    text-align: center;
    font-family: Arial, sans-serif;
    
}

  .card3>h2{
    font-family: "TheMixBlack-Caps", Sans-serif;
    font-size: 35.1px;
    font-weight: 400;
    -webkit-text-stroke-width: 2px;
    stroke-width: 2px;
    -webkit-text-stroke-color: #009A9E;
    stroke: #009A9E;
  }
  

/* to access classess inside divs */
  /* .section4 h1{
    text-align: center;
    padding-top: 60px;
    font-weight: bold;
  } */

  .section5{
   
    background-image: url(../images/bg-icon.png);
  }

  .section5>h1{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
  }

  .card-container4{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px; 
    padding: 20px;
  
  }

  .card4{
    width: 100%;
    height: 600px;
    border-radius: 1px;
    box-shadow: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: white;
  }

  .card4>img{
    width: 100%;
    height: auto;
  }

  .card4 h1{
  
    font-size: 20px;
  }

  .card4 p{
    font-size: 16px;
    text-align: center;
  }

  .card4 hr {
    border: 0;
    height: 2px;
    background-color: black;
    margin: 20px 0;
  }

  .section5 button{
   
    width: 10%;
    padding: 10px;
    background-color: #2063af;
    color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 900px;
    left: 50%;
  }