.section6{
    width: 100%;
    margin-top: 60px;
    background-color: aliceblue;
    
}

.card5{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 80px;
    font-weight: bold;
    width: 90%;

}

.card5 iframe{
    width: 60%;
    height: 250px;
    margin-bottom: 50px;
}

